<div class="ins-mixer-strip__wrapper">
  <ins-slider [id]="id + 'SliderVolume'" [min]="-15" [max]="0" label="vol" [(ngModel)]="config.volume"></ins-slider>
  <ins-knob [id]="id + 'KnobPanning'" label="pan" [size]="30" type="pan" [min]="-10" [max]="10" [negativeValuePrefix]="'L'" [positiveValuePrefix]="'R'" [zeroValueReplacement]="'C'" [(ngModel)]="config.panning"></ins-knob>
  <ins-switch [id]="id + 'SwitchMute'" [hasLabel]="false" [(ngModel)]="config.mute" label="mute"></ins-switch>
  <ins-switch [id]="id + 'SwitchSole'" [hasLabel]="false" [(ngModel)]="config.solo" label="solo"></ins-switch>
</div>
