<div class="row">
  <div class="col-1 float-start">
    <div class="d-flex flex-column gap-1">
      <button class="btn btn-primary" (click)="changeOctave(-1)">&lt;&lt;</button>
      <button class="btn btn-primary" (click)="toggleHold()" [ngClass]="{'active': hold}"><i class="bi-infinity"></i></button>
    </div>
  </div>
  <div class="col-10 mx-auto">
  <div class="keyboard">
    <div class="octave" *ngFor="let octave of octaves; let octaveLast = last; let oi = index">
      <div class="octave-label">C{{octave}}</div>
        <div class="keys">
          <div class="note" draggable="false"
             *ngFor="let note of notes; let noteLast = last; let ni = index"
             (mouseover)="mouseOver(note + octave);"
             (mousedown)="mouseDown(note + octave);"
             (mouseup)="mouseUp(note + octave);"
             (mouseout)="mouseOut(note + octave);"
             [ngClass]="{
                'sharp':( note.indexOf('#') >= 1),
                'last':noteLast && octaveLast,
                'playing': (isKeyDown && heldKey === note + octave) || (heldKeys.includes(note + octave)),
             }">
            <span class="ins-keyboard-char-indicator" *ngIf="charMap[ni] && oi === 0">{{charMap[ni]}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <div class="d-flex flex-column gap-1">
      <button class="btn btn-primary float-end" (click)="changeOctave(1)">&gt;&gt;</button>
    </div>
  </div>
</div>
