.keyboard {
  justify-content: center;
}

.keyboard, .keys {
  display: flex;
  position: relative;
}

.octave-label {
  position: absolute;
  bottom: -25px;
  z-index: 10;
  margin: 0 0 10px 5px;
  font-size: small;
  font-weight: 300;
  color: #8b979d;
  user-select: none;
}

.note {
  background-color: #282c30;
  color: #8e9aa0;
  border: 1px solid #8e9aa0;
  border-right: 0;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 200px;
  width: 50px;
  position: relative;

  &.playing {
    background-color: #245066;
  }

  span {
    &.ins-keyboard-char-indicator {
      border: 1px solid #8e9aa0;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      color: #8e9aa0;
      display: block;
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-weight: 300;
      font-size: x-small;
      text-transform: uppercase;
      text-align: center;
      background: #424141;
    }
  }

  &.sharp {
    border: 1px solid #8e9aa0;
    background-color: #1a1a1a;
    height: 120px;
    margin: 0 -20px 0 -20px;
    width: 40px;
    z-index: 100;

    &.playing {
      background-color: #1a3a4a;
    }

    span {
      &.ins-keyboard-char-indicator {
        background: #292828;
      }
    }
  }

  &.last {
    border-right: 1px solid #8e9aa0;
    margin-right: 4px;
  }
}
