<div class="ins-filter card" [class]="{'inactive': !active}">
  <div class="ins-filter__header card-header">
    <div class="d-flex justify-content-between align-items-center">LFO <ins-switch [(ngModel)]="active" [hasLabel]="false"></ins-switch></div>
  </div>
  <div class="ins-filter__body card-body">
      <ins-waveform-select [(ngModel)]="type"></ins-waveform-select>
    <div class="d-flex flex-wrap gap-1 mt-3">
      <ins-knob [(ngModel)]="frequency" [min]="0" [max]="30" [step]="1" label="freq"></ins-knob>
      <ins-knob [(ngModel)]="phase" [min]="0" [max]="360" [step]="1" label="phase"></ins-knob>
      <ins-knob [(ngModel)]="amount" [min]="0" [max]="20" [step]="1" label="amount"></ins-knob>
      <ins-knob [(ngModel)]="amplitude" [min]="0" [max]="10" [step]=".1" label="amp"></ins-knob>
    </div>
  </div>
</div>
