<div class="ins-sequencer card" [class]="{'inactive': !active}">
  <div class="ins-sequencer__header card-header">
    <div class="d-flex justify-content-between align-items-center">Sequenzer <ins-switch [(ngModel)]="active" [hasLabel]="false"></ins-switch></div>
  </div>
  <div class="ins-sequencer__body card-body">
    <div class="d-flex mb-3 gap-3 align-items-end">
      <ins-switch [(ngModel)]="keyboardConnected" (change)="setKeyboardConnection()" label="Connect keyboard" [hasLabel]="false"></ins-switch>
      <ins-knob [id]="id + 'KnobBPM'" [(ngModel)]="tempo" [min]="20" [max]="300" [step]="1" [label]="'BPM'"></ins-knob>
      <ins-knob [id]="id + 'KnobInterval'" [(ngModel)]="interval" type="dot" [options]="gateOptions" [min]="0" [max]="1" [step]="0.01" [label]="'Interval'"></ins-knob>
    </div>
    <input type="range" class="ins-active-steps-slider mb-3" min="0" max="16" step="1" [(ngModel)]="activeStepCount" />
    <div class="d-flex gap-1">
        <ins-sequencer-step [ngClass]="{'playing': (playing && currentStep === i)}" style="flex-grow: 1; display: block" [keyboardConnected]="keyboardConnected" [config]="step" [armed]="step.armed" *ngFor="let step of availableSteps; let i = index" [active]="i < activeStepCount" [id]="id + 'Step' + i" [playing]="(playing && currentStep === i)"></ins-sequencer-step>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="playSequence()">Play</button>
    <button type="button" class="btn btn-primary mt-3" (click)="stopSequence()">Stop</button>
  </div>
</div>
