<div class="ins-sequencer card" [class]="{'inactive': !active}">
  <div class="ins-sequencer__header card-header">
    <div class="d-flex justify-content-between align-items-center">Sequenzer <ins-switch [(ngModel)]="active" [hasLabel]="false"></ins-switch></div>
  </div>
  <div class="ins-sequencer__body card-body">
    <input type="range" class="ins-active-steps-slider mb-3" min="0" max="16" step="1" [(ngModel)]="activeStepCount" />
    <div class="d-flex gap-1">
        <ins-sequencer-step style="flex-grow: 1; display: block" [armed]="step.armed" *ngFor="let step of availableSteps; let i = index" [active]="i < activeStepCount" [id]="i" [playing]="(playing && currentStep === i)"></ins-sequencer-step>
    </div>
    <button type="button" class="btn btn-primary mt-3" (click)="playSequence()">Play</button>
    <button type="button" class="btn btn-primary mt-3" (click)="stopSequence()">Stop</button>
  </div>
</div>
