:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2b3035;
  z-index: 1000;
}

.ins-context-menu__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid grey;

  .ins-content-menu__item {
    padding: 3px 5px;
    font-weight: 300;
    font-size: small;
    color: grey;
    border-bottom: 1px solid grey;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: #1a3a4a;
      color: #00a4e1;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
