:host {
  display: block;
  width: fit-content;
  height: 50px;
}

.ins-button-label {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  font-size: xx-small;
  text-transform: uppercase;
  color: gray;
  bottom: -20px;
  margin: 0;
  width: fit-content;
}
