<span *ngIf="label" class="ins-waveform-select-label">{{label}}</span>
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" value="sine" [(ngModel)]="value" [name]="id" [id]="id + '-sine'" autocomplete="off" (change)="waveformChange.emit(value)">
  <label class="btn btn-secondary" [for]="id + '-sine'"><img src="../../assets/img/sine32x32.png" height="16"
                                                        width="16"/><p *ngIf="value === 'sine'" class="ins-button-label">Sine</p></label>
  <input type="radio" class="btn-check" value="triangle" [(ngModel)]="value" [name]="id" [id]="id + '-triangle'" autocomplete="off" (change)="waveformChange.emit(value)">
  <label class="btn btn-secondary" [for]="id + '-triangle'"><img src="../../assets/img/triangle32x32.png" height="16"
                                                        width="16"/><p *ngIf="value === 'triangle'" class="ins-button-label">Triangle</p></label>

  <input type="radio" class="btn-check" value="square" [(ngModel)]="value" [name]="id" [id]="id + '-square'" autocomplete="off" (change)="waveformChange.emit(value)">
  <label class="btn btn-secondary" [for]="id + '-square'"><img src="../../assets/img/square32x32.png" height="16"
                                                        width="16"/><p *ngIf="value === 'square'" class="ins-button-label">Square</p></label>
  <input type="radio" class="btn-check" value="sawtooth" [(ngModel)]="value" [name]="id" [id]="id + '-sawtooth'" autocomplete="off" (change)="waveformChange.emit(value)">
  <label class="btn btn-secondary" [for]="id + '-sawtooth'"><img src="../../assets/img/sawtooth32x32.png" height="16"
                                                        width="16"/><p *ngIf="value === 'sawtooth'" class="ins-button-label">Sawtooth</p></label>
</div>
