<div class="ins-sequencer-step" [ngClass]="{'inactive': !active, 'playing': playing}">
  <!--<button style="width: 100%" type="button" class="btn btn-primary ins-sequencer-step__button mb-2" (click)="toggleArmed()" [ngClass]="{'active': armed}">&nbsp;</button>-->
  <div class="ins-sequencer-step__knobs d-flex flex-column align-items-center gap-2">
    <ins-switch [value]="armed" [hasLabel]="false"></ins-switch>
    <ins-knob [min]="0" [max]="1" [step]=".1" [value]=".8" label="vel"></ins-knob>
    <ins-knob type="dot" [min]="-12" [max]="12" [step]="1" [value]="0" label="pitch"></ins-knob>
    <ins-knob type="dot" [min]="-2" [max]="2" [step]="1" [value]="0" label="octave"></ins-knob>
    <ins-knob type="dot" [value]="3" [options]="gateOptions" label="gate"></ins-knob>
  </div>
</div>
