<div class="ins-knob">
  <span class="ins-knob-value" [ngStyle]="{'width.px': size, 'height.px': size, 'font-size': valueTextSize, 'font-weight': valueTextWeight, 'color': baseColor}">{{value}}</span>
  <div class="ins-knob-value-editor" [ngStyle]="{'height.px': size, 'width.px': size}">
    <input #knobEditorInput class="ins-knob-value-editor-input" type="number" [step]="step" [max]="max" [min]="min" [hidden]="!editMode" [ngStyle]="{'width.px': size, 'height.px': size/2}" (keydown)="handleEditorKeyDown($event)">
  </div>
  <canvas class="ins-knob-canvas" #knobCanvas [width]="size" [height]="size"></canvas>
  <label class="ins-knob-label" [ngStyle]="{'width.px': size, 'font-size': labelTextSize, 'font-weight': labelTextWeight, 'color': baseColor}">{{label}}</label>
  <div *ngIf="midiLearn" class="ins-midi-learn" [ngClass]="{'ins-midi-listen-active': midiListen}" (click)="toggleMidiLearnEditMode()">
    <div *ngIf="midiLearnEditMode || midiListen" class="ins-midi-learn-editor" (click)="toggleMidiListen()">
      <p>CH: {{midiEventListener.channel}}</p>
      <p>CC: {{midiEventListener.controller}}</p>
    </div>

  </div>
</div>

