span.badge {
  position: absolute;
  z-index: 1;
  font-size: 8px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 2px;
  color: #86d486;
  padding: 2px 3px;
  user-select: none;

  &.ins-badge-midi-listen {
    background: #00a4e1;
    right: 0;
    bottom: 12px;
    color: #7ddcff;;
  }

}

.ins-knob {
  position: relative;
  cursor: pointer;

  .ins-knob-mouse-move-detector {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .ins-knob-value {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ins-knob-label {
    user-select: none;
    position: absolute;
    bottom: -5px;
    left: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .ins-knob-value-editor {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    .ins-knob-value-editor-input, .ins-knob-value-editor-select {
      z-index: 100;
      background: var(--value-editor-bg-color);
      border: 1px solid var(--value-editor-text-color);
      //border-radius: 50%;
      color: var(--value-editor-text-color);
      font-size: small;
      font-weight: 300;
      text-align: center;

      &:focus, &:active, &focus-visible {
        outline: none;
      }
    }

    .ins-knob-value-editor-select {
      user-select: none;
      padding: 5px;
      border-radius: 3px;

      option {
        border-radius: 3px;

        &:checked, &:active, &:focus, &:focus-visible {
          color: var(--primary-color);
          background: #364551;
          outline: none;
        }

      }

    }
  }


}
