:host {
  display: block;
  position: relative;
  //width: -webkit-fill-available;
}

.ins-select__label {
  font-size: x-small;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

.ins-select__display {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  border: 1px solid grey;
  padding: .5rem;
  border-radius: 3px;
  background: #282c30;
  max-width: 200px;
  overflow: hidden;

  .ins-select__display__current-selected {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .ins-select__display__open-close-indicator {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-color);
  }
}

.ins-select__popup {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  background: #2b3035;
  border: 1px solid #808080;
  border-radius: 3px;
  z-index: 1000;
  left: 0;
  right: 0;
  padding: 10px;
  width: max-content;
  margin-top: 5px;

  &.ins-select__popup-position-top {
    bottom: 55px;
  }

  &.ins-select__popup-position-right {
    left: 102%;
    top: 15px;
  }

  &.open {
    height: auto;
    overflow: auto;
    opacity: 1;
  }

  .ins-select__popup__search__wrapper {

    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    background: #212529;
    padding: 10px;
    border-bottom: 1px solid #494b4f;

    .ins-select__popup__search__input {
      width: 100%;
      background: #2b3035;
      border: 1px solid gray;
      font-size: small;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--text-color);
      border-radius: 3px;
      padding: .3rem;

      &:focus-visible {
        outline: none;
      }

    }

    .ins-select__popup__search__icon {
      position: absolute;
      right: 15px;
      top: 15px;
      color: grey;
    }
  }

  ul.ins-select__options-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .ins-select__options-list__list-item {
      cursor: pointer;
      font-size: small;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--text-color);
      padding: .3rem .5rem;
      border-radius: 3px;

      &:hover {
        background: #6c757d;
        color: white;
      }

      &.selected {
        background: #364551;
        color: var(--primary-color);
      }

      .ins-select__options-list__list-item__inner-container {
        display: flex;
        gap: 10px;
        align-items: baseline;

        p {
          margin: 0;
        }

      }

    }

  }

}

