:host {
  display: block;
  min-width: 100px;
  position: relative;
}

.ins-select__display {

  cursor: pointer;

  .ins-select__display__current-selected {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .ins-select__display__open-close-indicator {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-color);
  }
}

.ins-select__popup {
  display: none;
  position: absolute;
  background: #2b3035;
  border: 1px solid #494b4f;
  z-index: 1000;
  left: 0;
  right: 0;
  padding: 10px;

  &.open {
    display: block;
  }

  .ins-select__popup__search {
    width: 100%;
    background: #2b3035;
    border: 1px solid gray;
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--text-color);
  }

  ul.ins-select__options-list {
    padding: 0;
    margin: 0;
    list-style: none;

    .ins-select__options-list__list-item {
      cursor: pointer;
      font-size: small;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--text-color);

      &.selected {
        background: #212529;
        color: var(--primary-color);
      }

      .ins-select__options-list__list-item__inner-container {
        display: flex;
        gap: 10px;
        align-items: baseline;

        p {
          margin: 0;
        }

      }

    }

  }

}

