label {
  &.btn {
    font-size: x-small;
    font-weight: 300;
    padding-top: 7px;
  }
}

.ins-button-group-label {
  color: var(--text-color);
  font-size: x-small;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.btn-check:checked + .btn {
  color: #00a4e1;
  background-color: #364551;
  border-color: #808080;
  font-weight: 400;
}

