label {
  &.btn {
    font-size: x-small;
    font-weight: 300;
    padding-top: 7px;
  }
}

.btn-check:checked + .btn {
  color: #00a4e1;
  background-color: #364551;
  border-color: #808080;
  font-weight: 400;
}

