<div *ngIf="!audioContextReady">
  <button class="btn btn-primary" (click)="startAudioContext()">start</button>
</div>
<div *ngIf="audioContextReady" class="ins-main-container" [style]="'grid-template-rows: ' + getGridTemplateRows()">
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span style="color: #8BC34A">TONE.JS</span>PLAYGROUND</a>
    <div id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'main'}" (click)="page = 'main'" href="#">Instruments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'effects'}" (click)="page = 'effects'" href="#" >FX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'sequencer'}" (click)="page = 'sequencer'" href="#">Sequencer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'elements'}" (click)="page = 'elements'" href="#">Elements</a>
        </li>
        <li>
          <a class="nav-link" (click)="debug()" href="#">debug</a>
        </li>
      </ul>
    </div>
    <div class="m-auto">
      <ins-preset-manager></ins-preset-manager>
    </div>
    <form class="d-flex">
      <ins-undo-manager></ins-undo-manager>
      <ins-midi-monitor></ins-midi-monitor>
    </form>
  </div>
</nav>
  <div style="overflow: auto">
    <div class="container" [ngClass]="{'hidden': page !== 'main'}">
      <div class="row">
        <div class="col-6">
          <ins-am-synth name="AM Synth" [polyphonic]="false" id="am-synth"></ins-am-synth>
        </div>
        <div class="col-6">
          <ins-fm-synth name="FM Synth" id="fm-synth" [polyphonic]="true"></ins-fm-synth>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <ins-duo-synth name="Duo Synth" id="duo-synth"></ins-duo-synth>
        </div>
        <div class="col-6">
          <ins-mono-synth name="Mono Synth" id="mono-synth"></ins-mono-synth>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <ins-simple-synth name="Simple Synth" id="simple-synth" [polyphonic]="true"></ins-simple-synth>
        </div>
        <div class="col-3">
          <ins-metal-synth name="Metal Synth" id="metal-synth" [polyphonic]="true"></ins-metal-synth>
        </div>
        <div class="col-3">
          <ins-membrane-synth name="Membrane Synth" id="membrane-synth" [polyphonic]="true"></ins-membrane-synth>
        </div>
        <div class="col-3">
          <!--<ins-pluck-synth name="Pluck Synth" id="pluck-synth" ></ins-pluck-synth>-->
          <ins-noise-synth name="Noise Synth" id="noise-synth"></ins-noise-synth>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <ins-sampler id="sampler"></ins-sampler>
        </div>
      </div>
    </div>
    <div class="container" [ngClass]="{'hidden': page !== 'sequencer'}">
      <div class="row mt-4">
        <div class="col-12">
          <ins-sequencer id="sequencer"></ins-sequencer>
        </div>
      </div>
    </div>
    <div class="container" [ngClass]="{'hidden': page !== 'effects'}">
      <div class="row mt-3">
        <div class="col-2">
          <ins-lfo id="lfo"></ins-lfo>
        </div>
        <div class="col-2">
          <ins-delay id="delay"></ins-delay>
          <ins-reverb id="reverb" class="mt-2"></ins-reverb>
        </div>
        <div class="col-2">
          <ins-distortion id="distortion"></ins-distortion>
          <ins-bit-crusher id="bit-crusher" class="mt-2"></ins-bit-crusher>
        </div>
        <div class="col-2">
          <ins-chorus id="chorus"></ins-chorus>
        </div>
        <div class="col-2">
          <ins-tremolo id="tremolo"></ins-tremolo>
        </div>
        <div class="col-2">
          <ins-auto-wah id="auto-wah"></ins-auto-wah>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-2">
          <ins-auto-filter id="auto-filter"></ins-auto-filter>
        </div>
        <div class="col-2">
          <ins-phaser id="phaser"></ins-phaser>
          <ins-chebyshev id="chebyshev" class="mt-2"></ins-chebyshev>
        </div>
        <div class="col-2">
          <ins-vibrato id="vibrato"></ins-vibrato>
        </div>
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
      </div>
    </div>
    <div class="container" style="overflow: auto" [ngClass]="{'hidden': page !== 'elements'}">
      <ins-elements-showcase></ins-elements-showcase>
    </div>
  </div>
  <!--<div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">Sequencer <ins-switch [(ngModel)]="sequencerVisible" [hasLabel]="false"></ins-switch></div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">Keyboard <ins-switch [(ngModel)]="keyboardVisible" [hasLabel]="false"></ins-switch></div>
    </div>
    <div class="card-body">
      <ins-keyboard></ins-keyboard>
    </div>
  </div>
</div>
