<div class="ins-main-container" [style]="'grid-template-rows: ' + getGridTemplateRows()">
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span style="color: #8BC34A">BASIC</span>SYNTH</a>
    <div id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'main'}" (click)="page = 'main'" href="#">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'effects'}" (click)="page = 'effects'" href="#" >FX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'sequencer'}" (click)="page = 'sequencer'" href="#">Sequencer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': page === 'elements'}" (click)="page = 'elements'" href="#">Elements</a>
        </li>
      </ul>
    </div>
    <div class="m-auto">
      <ins-preset-manager></ins-preset-manager>
    </div>
    <form class="d-flex">
      <ins-undo-manager></ins-undo-manager>
      <ins-midi-monitor></ins-midi-monitor>
    </form>
  </div>
</nav>
  <div style="overflow: auto">
    <div class="container" [ngClass]="{'hidden': page !== 'main'}">
      <div class="row">
        <div class="col-xl-3 col-4">
          <ins-oscillator id="oscillator1"></ins-oscillator>
        </div>
        <div class="col-xl-3 col-4">
          <ins-oscillator id="oscillator2"></ins-oscillator>
        </div>
        <div class="col-xl-3 col-4">
          <ins-filter id="filter"></ins-filter>
        </div>
        <div class="col-xl-3 col-4">
          <ins-lfo id="lfo"></ins-lfo>
        </div>
      </div>
      <div class="row mt-3">

        <div class="col-4">
          <ins-delay id="delay"></ins-delay>
        </div>
        <div class="col-4">
          <ins-reverb id="reverb"></ins-reverb>
        </div>
      </div>
    </div>
    <div class="container" [ngClass]="{'hidden': page !== 'sequencer'}">
      <div class="row mt-4">
        <div class="col-12">

        </div>
      </div>
    </div>
    <div class="container" [ngClass]="{'hidden': page !== 'effects'}"></div>
    <div class="container" style="overflow: auto" [ngClass]="{'hidden': page !== 'elements'}">
      <ins-elements-showcase></ins-elements-showcase>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">Sequencer <ins-switch [(ngModel)]="sequencerVisible" [hasLabel]="false"></ins-switch></div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ins-sequencer id="sequencer"></ins-sequencer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">Keyboard <ins-switch [(ngModel)]="keyboardVisible" [hasLabel]="false"></ins-switch></div>
    </div>
    <div class="card-body">
      <ins-keyboard></ins-keyboard>
    </div>
  </div>
</div>
