<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Elements
      </div>
      <div class="card-body">
        <ins-divider label="Sliders" class="mt-0"></ins-divider>
        <div class="d-flex mb-3">
          <ins-slider label="Vol" [max]="20" [min]="0" [height]="250" [value]="12"></ins-slider>
          <ins-slider label="Mid" [max]="100" [min]="0" [height]="250" [(ngModel)]="foo"></ins-slider>
          <ins-slider label="Hi" [max]="20" [min]="0" [height]="250" [value]="8"></ins-slider>
          <ins-slider label="Lo" [max]="20" [min]="0" [height]="250" [value]="3"></ins-slider>
        </div>
        <ins-horizontal-range-slider></ins-horizontal-range-slider>
        <ins-divider label="Knobs"></ins-divider>
        <div class="d-flex mb-3">
          <ins-knob id="showcaseKnobSize80" [lfo]="true" [(ngModel)]="foo" label="size 80" [size]="80" baseColor="gray" [baseLineWidth]="8" [valueLineWidth]="5" valueColor="#00a4e1" [min]="0" [max]="100"></ins-knob>
          <ins-knob id="showcaseKnobSize70" [(ngModel)]="bar" label="size 70" [size]="70" [min]="0" [max]="100"></ins-knob>
          <ins-knob id="showcaseKnobSize60" label="size 60" [value]="9" [size]="60"></ins-knob>
          <ins-knob id="showcaseKnobDefault" [lfo]="true" label="default" [value]="9"></ins-knob>
          <ins-knob id="showcaseKnobFoo" label="Foo" [value]="20" [min]="-100" [max]="100" [size]="40" [step]="1" type="line"></ins-knob>
          <ins-knob id="showcaseKnobBar" label="Bar" [value]="20" [min]="0" [max]="100"  [step]=".1" type="line" [(ngModel)]="barBaz"></ins-knob>
        </div>
        <div class="d-flex mb-3 gap-1">
          <ins-knob id="showcaseKnobDotted" [value]="1" label="dotted" type="dot" [min]="-2" [max]="2" [step]="1"></ins-knob>
          <ins-knob id="showcaseKnobFine" [value]="0.3" label="fine" [min]="0.0" [max]="1.00" [step]=".01"></ins-knob>
          <ins-knob id="showcaseKnobSelect" [value]="3" label="select" type="dot" [options]="['1n', '2n', '4n', '8n', '16n', '32n']"></ins-knob>
          <ins-knob id="showcaseKnobPan" type="pan" [size]="50" label="pan" [value]="pan" [(ngModel)]="pan" [min]="-100" [max]="100"></ins-knob>
        </div>
        <ins-divider label="Misc"></ins-divider>
        <div class="d-flex mb-3 gap-3">
          <ins-switch label="Switch" onLabel="active" offLabel="off"></ins-switch>
          <ins-button-group label="Select Buttons" [options]="[{label: 'Foo', value: 'foo'}, {label: 'Bar', value: 'bar'}, {label: 'Baz', value: 'baz'}]" value="bar"></ins-button-group>
          <ins-waveform-select label="Waveform" value="sine"></ins-waveform-select>
        </div>
        <ins-select [multiple]="false" [searchEnabled]="true" [tags]="true" [value]="'foo'" [options]="[{label: 'Foo', value: 'foo', tags:['foo', 'bar']}, {label: 'Bar', value: 'bar', tags:['foo', 'bar']}, {label: 'Baz', value: 'baz', tags:['foo', 'bar', 'baz', 'bar baz']}]"></ins-select>
        <ins-divider label="ADSR - Envelope"></ins-divider>
        <ins-adsr-envelope id="showcaseADSR" [height]="50" [(ngModel)]="adsr"></ins-adsr-envelope>
      </div>
    </div>
  </div>
</div>
