.ins-knob {
  position: relative;
  cursor: pointer;

  .ins-knob-value {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ins-knob-label {
    user-select: none;
    position: absolute;
    bottom: -5px;
    left: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .ins-knob-value-editor {
    z-index: 100;
    background: var(--value-editor-bg-color);
    border: 0;
    border-radius: 50%;
    color: var(--value-editor-text-color);
    font-size: small;
    font-weight: 300;
    text-align: center;

    &:focus, &:active, &focus-visible {
      outline: none;
    }
  }
}
