<div class="ins-piano-roll__container">
  <div class="ins-piano-roll__header d-flex gap-1"></div>
  <div class="ins-piano-roll-__body">
    <ul *ngFor="let octave of octaves; let o = index">
      <li *ngFor="let note of notes; let n = index">
        <div class="ins-piano-roll__row d-flex gap-1">
          <div class="ins-piano-roll__row__label">{{note}}{{octave}}</div>
          <div *ngFor="let step of availableSteps['row_' + o + '_' + n]; let s = index">
            <div (click)="toggleStep(step)" class="ins-piano-roll__row__step" [ngClass]="{'armed': step.armed, 'playing': ((playing || paused)  && currentStep === s)}"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ins-piano-roll__footer">
    <div class="ins-piano-roll__controls d-flex justify-content-end gap-1">
      <button (click)="play()">Play</button>
      <button (click)="stop()">Stop</button>
      <button (click)="pause()">Pause</button>
    </div>
  </div>
</div>

