:host {
  display: block;
}

.ins-transport-control__label {
  font-size: x-small;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

.ins-transport-control__wrapper {
  display: flex;
  gap: 5px;

  .btn {

    &:disabled {
      opacity: .2;
    }

    &:active {
      color: #00a4e1;
      background-color: #364551;
      border-color: #808080;
    }

    &.ins-btn-play {
      &:disabled {
        opacity: 1;
      }
      &:active {
        background: #8bc34b;
        color: white;
      }
    }

    &.ins-btn-record {
      &:active {
        background: #ef724b;
        color: white;
      }
    }

    &.recording {
      background: #ef724b;
      color: white;
    }

    &.playing {
      background: #8bc34b;
      color: white;
    }

    &.ins-btn-fast-backward {
      i {
        &.bi {
          &.bi-fast-forward-fill {
            &:before {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

}
