<div class="ins-phaser card" [class]="{'inactive': !active}">
  <div class="ins-phaser__header card-header">
    <div class="d-flex justify-content-between align-items-center">Phaser <ins-switch [(ngModel)]="active" [hasLabel]="false"></ins-switch></div>
  </div>
  <div class="ins-phaser__body card-body">
    <div class="d-flex flex-wrap gap-1">
      <div class="ins-knob-container ins-phaser__frequency">
        <ins-knob [id]="id + 'KnobFrequency'" [(ngModel)]="frequency" [min]="0" [max]="4" [step]=".1" label="Freq" (change)="triggerUndo('frequency', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobFrequencyMidiOverlay'" [min]="0" [max]="4" [step]=".1" [(ngModel)]="frequency"></ins-midi-overlay>
      </div>
      <div class="ins-knob-container ins-phaser__baseFrequency">
        <ins-knob [id]="id + 'KnobBaseFrequency'" [(ngModel)]="baseFrequency" [min]="80" [max]="1000" [step]="10" label="Base Fre" (change)="triggerUndo('baseFrequency', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobBaseFrequencyMidiOverlay'" [min]="80" [max]="1000" [step]="10" [(ngModel)]="baseFrequency"></ins-midi-overlay>
      </div>
      <div class="ins-knob-container ins-phaser__octaves">
        <ins-knob [id]="id + 'KnobOctaves'" [(ngModel)]="octaves" [min]="0" [max]="4" [step]="1" label="Octaves" (change)="triggerUndo('octaves', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobOctavesMidiOverlay'" [min]="0" [max]="4" [step]="1" [(ngModel)]="octaves"></ins-midi-overlay>
      </div>
      <div class="ins-knob-container ins-phaser__stages">
        <ins-knob [id]="id + 'KnobStages'" [(ngModel)]="stages" [min]="2" [max]="15" [step]="1" label="Stages" (change)="triggerUndo('stages', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobStagesMidiOverlay'" [min]="2" [max]="15" [step]="1" [(ngModel)]="stages"></ins-midi-overlay>
      </div>
      <div class="ins-knob-container ins-phaser__q">
        <ins-knob [id]="id + 'KnobQ'" [(ngModel)]="Q" [min]="0" [max]="10" [step]="1" label="Q" (change)="triggerUndo('Q', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobQMidiOverlay'" [min]="0" [max]="10" [step]="1" [(ngModel)]="Q"></ins-midi-overlay>
      </div>
      <div class="ins-knob-container ins-phaser__wet">
        <ins-knob [id]="id + 'KnobWet'" [(ngModel)]="wet" [min]="0" [max]="1" [step]=".1" label="Wet" (change)="triggerUndo('wet', $event)"></ins-knob>
        <ins-midi-overlay [id]="id + 'KnobWetMidiOverlay'" [min]="0" [max]="1" [step]=".1" [(ngModel)]="wet"></ins-midi-overlay>
      </div>
    </div>

  </div>
</div>
