.ins-button-group-label {
  color: var(--text-color);
  font-size: x-small;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.ins-button-group-buttons {
  margin-bottom: 18px;
  display: flex;

  .ins-btn {
    border-radius: 0;
    border-left-width: 0;

    &:first-child {
      border-left-width: var(--line-width);
      border-bottom-left-radius: var(--button-border-radius);
      border-top-left-radius: var(--button-border-radius);
    }

    &:last-child {
      border-bottom-right-radius: var(--button-border-radius);
      border-top-right-radius: var(--button-border-radius);
    }
  }
}

