<div class="d-flex gap-2 mb-4">
  <ins-knob [id]="id + 'KnobNote'" type="dot" [min]="-12" [max]="12" [step]="1" [(ngModel)]="baseNote" [options]="notes" label="Root" [size]="40" [baseLineWidth]="2" [valueLineWidth]="3"></ins-knob>
  <ins-knob [id]="id + 'KnobOctave'" type="dot" [min]="1" [max]="6" [step]="1" [(ngModel)]="baseOctave" label="Octave" [size]="40" [baseLineWidth]="2" [valueLineWidth]="3"></ins-knob>
  <ins-select [value]="'major'" [options]="scaleOptions" [(ngModel)]="baseScale"></ins-select>
  <button class="btn btn-primary" (click)="generateScale()">Generate&nbsp;Scale</button>
  <button class="btn btn-primary" (click)="randomizeScale()">Randimize&nbsp;Scale</button>
  <ins-knob [id]="id + 'KnobRandomStepCount'" type="line" [min]="4" [max]="32" [step]="1" [(ngModel)]="randomStepCount" label="Steps" [size]="40" [baseLineWidth]="2" [valueLineWidth]="3"></ins-knob>
  <ins-knob [id]="id + 'KnobRandomStepCount'" type="line" [min]="2" [max]="6" [step]="1" [(ngModel)]="randomOctaveCount" label="Octaves" [size]="40" [baseLineWidth]="2" [valueLineWidth]="3"></ins-knob>
  <ins-knob [id]="id + 'KnobTempo'" [(ngModel)]="tempo" type="dot" [options]="tempoOptions" [size]="40" [baseLineWidth]="2" [valueLineWidth]="3" [label]="'Tempo'"></ins-knob>
  <ins-transport-control [disabled]="currentGeneratedScale.length === 0" [recordButton]="false" [pauseButton]="false" (playButtonClick)="play()" (stopButtonClick)="stop()"></ins-transport-control>
</div>
<div class="d-flex gap-2">
  <button style="min-width: 50px;" (mousedown)="noteButtonDown(note)" [ngClass]="{playing: playing && currentPlayingIndex === i}" (mouseup)="noteButtonUp(note)" [disabled]="playing" class="btn btn-secondary btn-sm" *ngFor="let note of currentGeneratedScale; let i = index">{{ note }}</button>
</div>
