@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --body-bg-color: #323232;
  --value-editor-bg-color: #31383e;
  --value-editor-text-color: #808080;
  --text-color: #808080;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

pre {
  font-weight: 300;
  font-size: small;
}

/*.btn {
  font-weight: 100;
  font-size: small;
  padding: .5rem 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background: #31383e;
  color: var(--text-color);
  cursor: pointer;
}

.btn-group {
  .btn {
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}*/

.card-header {
  font-size: small;
  font-weight: 300;
  color: gray;
  text-transform: uppercase;
}

.btn {
  color: var(--text-color);
  background-color: #282c30;
  font-size: small;
  font-weight: 300;
  text-transform: uppercase;
  border-color: var(--text-color);
  border-radius: 3px;

  &:hover {
    color: #00a4e1;
    background-color: #323232;
    border-color: var(--text-color);
  }

  &:active {
    color: var(--text-color) !important;
    background-color: #252627 !important;
    border-color: #31383e !important;
  }
}

fieldset {
  border: 1px solid #8e9aa0;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  background: #252627;
  width: max-content;
  legend {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: #212529;
    border: 1px solid gray;
    padding: 2px 15px;
    width: auto;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #8e9aa0;
  }
}

.ins-midi-learn {
  background: rgba(79, 128, 81, 0.42);
  position: absolute;
  top: 1px;
  right: 1px;
  left: 1px;
  bottom: 1px;
  cursor: pointer;
  border-radius: 3px;

  .ins-midi-learn-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(79, 128, 81, 1);
    border: 0;
    color: gray;
    font-size: small;
    font-weight: 300;
    text-align: center;

    p {
      font-size: x-small;
      font-weight: 300;
      color: rgb(255, 255, 255);
      margin: 0;
    }
  }
}
