@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --body-bg-color: #2b3035;
  --value-editor-bg-color: #31383e;
  --value-editor-text-color: #808080;
  --text-color: #808080;
  --primary-color: #00a4e1;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  height: 100%;
}

pre {
  font-weight: 300;
  font-size: small;
}

.navbar {
  .nav-link {
    color: var(--text-color);
    font-weight: 300;
    text-transform: uppercase;
    &:hover, &.active {
      color: #00a4e1;
    }
  }
   .btn {
     &.active {
       color: #2b3035;
       background-color: #00a4e1;
       border-color: #00a4e1;
       font-weight: 500;
     }
   }

}

  /*.btn {
    font-weight: 100;
    font-size: small;
    padding: .5rem 1rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: #31383e;
    color: var(--text-color);
    cursor: pointer;
  }

  .btn-group {
    .btn {
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }*/

.card {

  &.inactive {
    opacity: 0.5;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .card-header {
    font-size: small;
    font-weight: 300;
    color: gray;
    text-transform: uppercase;
  }
}

.btn {
  color: var(--text-color);
  background-color: #282c30;
  font-size: small;
  font-weight: 300;
  text-transform: uppercase;
  border-color: var(--text-color);
  border-radius: 3px;
  height: 32px;

  &:hover {
    color: #00a4e1;
    background-color: #323232;
    border-color: var(--text-color);
  }

  &:disabled {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
  }

  &:active {
    /*color: var(--text-color) !important;
    background-color: #252627 !important;
    border-color: #31383e !important;*/
  }
}

fieldset {
  border: 1px solid #8e9aa0;
  border-radius: 5px;
  padding: 0 15px 15px 15px;
  background: #252627;
  width: max-content;
  legend {
    font-size: small;
    font-weight: 300;
    text-transform: uppercase;
    color: #212529;
    border: 1px solid gray;
    padding: 2px 15px;
    width: auto;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #8e9aa0;
  }
}

.ins-midi-learn {
  background: rgb(0 164 225 / 25%);
  position: absolute;
  top: 1px;
  right: 1px;
  left: 1px;
  bottom: -5px;
  cursor: pointer;
  border-radius: 3px;

  &.ins-midi-listen-active {
    background: rgba(109, 225, 0, 0.35);

    .ins-midi-learn-editor {
      background: rgba(85 143 31 / .8);
      border-color: #3a620d;
    }
  }

  .ins-midi-learn-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0 164 225);
    color: gray;
    font-size: small;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #212529;
    margin: 2px;
    z-index: 1;


    p {
      font-size: x-small;
      font-weight: 300;
      color: #212529;
      margin: 0;
    }
  }
}
